<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="../statics/js/two.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.7.1/css-doodle.min.js"></script>
            <script src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js"></script>
            <link rel="stylesheet" href="../../statics/css/mainWindow.css">
    
    </head>
    <body>
        <h1>Add New Current Source</h1>
<form id="resistorForm">
    <div class="row">

        <div class="col-md-6 form-group">
            <label for="resistorFirstPin">First Pin Location</label>
            <input type="number" class="form-control" id="firstPin" placeholder="First Pin">
    
        </div>
        <div class="col-md-6 form-group">
            <label for="resistorSecondPin">Second Pin Location</label>
            <input type="number" class="form-control" id="secondPin"  placeholder="Second Pin">
        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="resistorAmount">Amount</label>
            <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Ω</span>
            </div>
            <input type="number" class="form-control" id="amount" aria-describedby="addon-wrapping" placeholder="Amount of resistor in Ohm">
            
        </div>
        
        </div>
        <div class="col-md-6">
            <img src="../../statics/images/helpers/resistor.png" class="modal-helper-image">
        </div>
    </div>
        
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Save changes</button>
        </div>
        
        </form>

        <script>
            const electron = require('electron');
            const {ipcRenderer} = electron;

            document.querySelector("#resistorForm").addEventListener('submit', addResistor);

            function addResistor(e){
                e.preventDefault();
                const firstPin = document.querySelector("#firstPin").value;
                const secondPin = document.querySelector("#secondPin").value;
                const amount = document.querySelector("#amount").value;
                const ROW = 3;
                const COL = 3;
                let item = {
                    type: 'currentSource',
                    firstPin: {
                        row: Math.trunc(firstPin / COL),
                        col: Math.trunc(firstPin % COL),
                    },
                    secondPin: {
                        row: Math.trunc(secondPin / COL),
                        col: Math.trunc(secondPin % COL)
                    },
                    attrs: {
                        amount
                    }
                };
                ipcRenderer.send('element:add', item);
            }
        </script>
    </body>
</html>