canvas {
    border: 1px solid #ccc;
   margin-left: 20%;
   margin-top: 20%;
   padding: 5%;
}


.element-btn{
    /* background:url(../statics/images/resistor.png) no-repeat;  */
    cursor:pointer;
    border:none;
    width:40px;
    height:40px;

  }



  .description {
      font-size: 0.9em;
  }

  .modal-helper-image {
    width: 100px;
    height: auto;
  }