<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="../statics/js/two.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.7.1/css-doodle.min.js"></script>
        <script src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js"></script>


        <title>The main pad</title>
        <link rel="stylesheet" href="../statics/css/mainWindow.css">

    </head>
    <body>
            <div class="alert alert-primary" role="alert">
                    <h1>The Proteun <img src="../statics/images/resistor.png" style="width: 50px; height: 50px;"></h1>
                  </div>

        <div class="container">
            
            <div class="row">    
                <div class="col-md-3">
                    <div class="row">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page">Tools Pane</li>
                                </ol>
                            </nav>
                        
                        <div >
                            
                                    <button type="button" class="btn btn-light"   title="Tooltip on top" data-toggle="modal" data-target="#resistorModal">
                                            <img src="../statics/images/resistor.png" class="element-btn">
                                    </button>
                            
                                <p class="description">Resistor</p>
                            
                            
                                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#currentSourceModal">
                                            <img src="../statics/images/currentSource.png" class="element-btn">
                                    </button>
                                
                                <p class="description">Current Source</p>
                            
                           
                                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#voltageSourceModal">
                                            <img src="../statics/images/voltageSource.png" class="element-btn">
                                    </button>
                                
                                <p class="description">Voltage Source</p>
                            
                           
                                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#currentSourceControlledModal">
                                            <img src="../statics/images/currentSourceControlled.png" class="element-btn">
                                    </button>
                                
                                <p class="description">Current Source Controlled</p>
                            
                            
                                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#voltageSourceControlledModal">
                                            <img src="../statics/images/voltageSourceControlled.png" class="element-btn">
                                    </button>
                                
                                <p class="description">Voltage Source Controlled</p>
                          
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    

                    
                    <div class="row">
                            <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">The Play Ground</li>
                                    </ol>
                                </nav>
                        
                    </div>
                    <div class="row">
                    
                        <canvas id="c" width="400" height="400"></canvas>
                        <!-- Modal -->
                        <div class="modal fade" id="resistorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add A New Resistor</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                            <form>
                                                <div class="row">

                                                    <div class="col-md-6 form-group">
                                                      <label for="resistorFirstPin">First Pin Location</label>
                                                      <input type="number" class="form-control" id="resistorFirstPin" placeholder="First Pin">
                                                
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <label for="resistorSecondPin">Second Pin Location</label>
                                                        <input type="number" class="form-control" id="resistorSecondPin"  placeholder="Second Pin">
                                                    
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <label for="resistorAmount">Amount</label>
                                                        <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="addon-wrapping">Ω</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="resistorAmount" aria-describedby="addon-wrapping" placeholder="Amount of resistor in Ohm">
                                                        
                                                    </div>
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img src="../statics/images/resistor.png" class="modal-helper-image">
                                                    </div>
                                                </div>
                                                    
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" onclick="createResistor()">Save changes</button>
                                                    </div>
                                                    
                                                  </form>
                                    </div>
                                    
                                </div>
                                </div>
                            </div>

                             <!-- Modal -->
                        <div class="modal fade" id="currentSourceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add A New Current Source</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                            <form>
                                                    <div class="row">
    
                                                        <div class="col-md-6 form-group">
                                                          <label for="firstPinLocation">First Pin Location</label>
                                                          <input type="number" class="form-control" id="firstPinLocation" placeholder="First Pin">
                                                    
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <label for="secondPinLocation">Second Pin Location</label>
                                                            <input type="number" class="form-control" id="secondPinLocation"  placeholder="Second Pin">
                                                        
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group">
                                                            <label for="currentAmound">Amount</label>
                                                            <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="addon-wrapping">A</span>
                                                            </div>
                                                            <input type="number" class="form-control" id="currentAmound" aria-describedby="addon-wrapping" placeholder="Amount of current in Amper">
                                                            
                                                        </div>
                                                        
                                                        </div>
                                                        <div class="col-md-6">
                                                                <img src="../statics/images/resistor.png" class="modal-helper-image">
                                                            </div>
                                                    </div>
                                                        
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                        
                                                      </form>
                                    </div>
                                    
                                    </div>
                                </div>
                                </div>
                            </div>

                             <!-- Modal -->
                        <div class="modal fade" id="voltageSourceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add A New Voltage Source </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                            <form>
                                                    <div class="row">
    
                                                        <div class="col-md-6 form-group">
                                                          <label for="firstPinLocation">First Pin Location</label>
                                                          <input type="number" class="form-control" id="firstPinLocation" placeholder="First Pin">
                                                    
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <label for="secondPinLocation">Second Pin Location</label>
                                                            <input type="number" class="form-control" id="secondPinLocation"  placeholder="Second Pin">
                                                        
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group">
                                                            <label for="voltageAmount">Amount</label>
                                                            <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="addon-wrapping">V</span>
                                                            </div>
                                                            <input type="number" class="form-control" id="voltageAmount" aria-describedby="addon-wrapping" placeholder="Amount of voltage in Volt">
                                                            
                                                        </div>
                                                        
                                                        </div>
                                                        <div class="col-md-6">
                                                                <img src="../statics/images/resistor.png" class="modal-helper-image">
                                                            </div>
                                                    </div>
                                                        
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                        
                                                      </form>
                                    </div>
                                   
                                </div>
                                </div>
                            </div>


                             <!-- Modal -->
                        <div class="modal fade" id="currentSourceControlledModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add A New Current Source Controlled</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                            <form>
                                                    <div class="row">
    
                                                        <div class="col-md-6 form-group">
                                                          <label for="firstPinLocation">First Pin Location</label>
                                                          <input type="number" class="form-control" id="firstPinLocation" placeholder="First Pin">
                                                    
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <label for="secondPinLocation">Second Pin Location</label>
                                                            <input type="number" class="form-control" id="secondPinLocation"  placeholder="Second Pin">
                                                        
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group">
                                                            <label for="currentEquation">Amount</label>
                                                            <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="addon-wrapping">Eq</span>
                                                            </div>
                                                            <input type="text" class="form-control" id="currentEquation" aria-describedby="addon-wrapping" placeholder="Amount of voltage in Volt">
                                                            
                                                        </div>
                                                        
                                                        </div>
                                                        <div class="col-md-6">
                                                                <img src="../statics/images/resistor.png" class="modal-helper-image">
                                                            </div>
                                                    </div>
                                                        
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                        
                                                      </form>
                                    </div>
                                    
                                </div>
                                </div>
                            </div>

                                   <!-- Modal -->
                        <div class="modal fade" id="voltageSourceControlledModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add A New Voltage Source Controlled</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                            <form>
                                                    <div class="row">
    
                                                        <div class="col-md-6 form-group">
                                                          <label for="firstPinLocation">First Pin Location</label>
                                                          <input type="number" class="form-control" id="firstPinLocation" placeholder="First Pin">
                                                    
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <label for="secondPinLocation">Second Pin Location</label>
                                                            <input type="number" class="form-control" id="secondPinLocation"  placeholder="Second Pin">
                                                        
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group">
                                                            <label for="voltageEquation">Amount</label>
                                                            <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="addon-wrapping">Eq</span>
                                                            </div>
                                                            <input type="text" class="form-control" id="voltageEquation" aria-describedby="addon-wrapping" placeholder="Amount of voltage in Volt">
                                                            
                                                        </div>
                                                        
                                                        </div>
                                                        <div class="col-md-6">
                                                                <img src="../statics/images/resistor.png" class="modal-helper-image">
                                                            </div>
                                                    </div>
                                                        
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                        
                                                      </form>
                                    </div>
                                    
                                </div>
                                </div>
                            </div>
                    </div>
                
                </div>
            </div>

        </div>
        
        <script>

            function createResistor() {
                console.log("hello");
                var firstPin = document.getElementById("#resistorFirstPin").value;
                var secondPin = document.getElementById("#resistorSecondPin").value;
                var resistorAmount = document.getElementById("#resistorAmount").value;
                console.log(firstPin, secondPin, resistorAmount);

            //     fabric.Image.fromURL('../statics/images/resistor.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     // var img1 = myImg.set({ 
            //     //     left: 100 * firstPin, 
            //     //     top: 100 * secondPin - 50,
            //     //     scaleY: scale, 
            //     //     scaleX: scale
            //     // });
                
            //     // canvas.add(img1);
            //     elements.add({
            //         type: "resistor",
            //         left: firstPin,
            //         top: secondPin,
            //         amount: resistorAmount
            //     });
            //     console.log(elements);
            // });

            }
            var elements = [];
            var canvas = new fabric.Canvas('c', { selection: false });
            var grid = 100;
            // var offset = 33.33;
            // create grid

            for (var i = 1; i < (canvas.width / grid); i++) {
                for (var j = 1; j < (canvas.height / grid); j++) {
                    console.log(i*grid, j*grid);
                    canvas.add(new fabric.Circle({
                        left: i*grid - 7, 
                        top: j*grid - 7, 
                        radius: 7, 
                        fill: '#000', 
                        originX: 'left', 
                        originY: 'top',
                        centeredRotation: true,
                        selectable: false,
                        opacity: 1
                    }));
                }
            }

            // add objects


            // var imgElement = document.getElementById('resistor');

            // fabric.Image.fromURL('../statics/images/resistor.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     var img1 = myImg.set({ 
            //         left: 100, 
            //         top: 100 - 50,
            //         scaleY: scale, 
            //         scaleX: scale
            //     });
                
            //     canvas.add(img1); 
            // });

            // fabric.Image.fromURL('../statics/images/resistor.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     var img1 = myImg.set({ 
            //         left: 300 + 50, 
            //         top: 100,
            //         scaleY: scale, 
            //         scaleX: scale,
            //         angle: 90
            //     });
                
            //     canvas.add(img1); 
            // });


            // fabric.Image.fromURL('../statics/images/voltageSource.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     var img1 = myImg.set({ 
            //         left: 300 + 50, 
            //         top: 200,
            //         scaleY: scale, 
            //         scaleX: scale,
            //         angle: 90
            //     });
                
            //     canvas.add(img1); 
            // });

            // fabric.Image.fromURL('../statics/images/currentSource.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     var img1 = myImg.set({ 
            //         left: 200, 
            //         top: 100 - 50,
            //         scaleY: scale, 
            //         scaleX: scale,
            //         angle: 0
            //     });
                
            //     canvas.add(img1); 
            // });
            // fabric.Image.fromURL('../statics/images/resistor.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     var img1 = myImg.set({ 
            //         left: 200, 
            //         top: 300 - 50,
            //         scaleY: scale, 
            //         scaleX: scale,
            //         angle: 0
            //     });
                
            //     canvas.add(img1); 
            // });

            // fabric.Image.fromURL('../statics/images/voltageSource.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     var img1 = myImg.set({ 
            //         left: 100, 
            //         top: 300 -  50,
            //         scaleY: scale, 
            //         scaleX: scale,
            //         angle: 0
            //     });
                
            //     canvas.add(img1); 
            // });

            // fabric.Image.fromURL('../statics/images/currentSource.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     var img1 = myImg.set({ 
            //         left: 100 + 50, 
            //         top: 100,
            //         scaleY: scale, 
            //         scaleX: scale,
            //         angle: 90
            //     });
                
            //     canvas.add(img1); 
            // });

            // fabric.Image.fromURL('../statics/images/resistor.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     var img1 = myImg.set({ 
            //         left: 100 + 50, 
            //         top: 200,
            //         scaleY: scale, 
            //         scaleX: scale,
            //         angle: 90
            //     });
                
            //     canvas.add(img1); 
            // });

            // fabric.Image.fromURL('../statics/images/resistor.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     var img1 = myImg.set({ 
            //         left: 200 + 50, 
            //         top: 200,
            //         scaleY: scale, 
            //         scaleX: scale,
            //         angle: 90
            //     });
                
            //     canvas.add(img1); 
            // });

            // fabric.Image.fromURL('../statics/images/resistor.png', function(myImg) {
            //     //i create an extra var for to change some image properties
            //     let scale = 100 / myImg.height;

            //     var img1 = myImg.set({ 
            //         left: 200 + 50, 
            //         top: 100,
            //         scaleY: scale, 
            //         scaleX: scale,
            //         angle: 90
            //     });
                
            //     canvas.add(img1); 
            // });

            // var imgInstance = new fabric.Image(imgElement, {
            //     width: 100,
            //     height: 100,
            //     left: 100,
            //     top: 100,
            //     angle: 0,
            //     opacity: 1,
            // });
            // canvas.add(imgInstance);

            // canvas.add(new fabric.Rect({ 
            // left: 10, 
            // top: 10, 
            // width: 20, 
            // height: 100, 
            // fill: '#faa', 
            // originX: 'left', 
            // originY: 'top',
            // hasRotatingPoint: false,
            // hasControls: false
            // }));
            // canvas.add(new fabric.Rect({ 
            // left: 10, 
            // top: 10, 
            // width: 100, 
            // height: 20, 
            // fill: '#faa', 
            // originX: 'left', 
            // originY: 'top',
            // hasRotatingPoint: false,
            // hasControls: false
            // }));

            // var path = new fabric.Path("M 0,16 0,16 L 8,16 L 12,12 L 16,16 L 20,20 L 24,16 L 28,12 L 32,16 L 36,20 L 40,16 L 44,12 L 48,16 L 52,20 L 56,16 L 64,16");
            // path.set({ left: 120, top: 120, hasControls: true, width: 100, height: 100});
            // canvas.add(path);
            // canvas.add(new fabric.Circle({ 
            // left: 30, 
            // top: 30, 
            // radius: 50, 
            // fill: '#9f9', 
            // originX: 'left', 
            // originY: 'top',
            // centeredRotation: true
            // }));

            // snap to grid

            // canvas.on('object:rotating', function(options) {
            //     var step = 4;
            //     options.target.angle = Math.round(options.target.angle / step) * step;
            // });

            canvas.on('object:moving', function(options) { 
            options.target.set({
                left: Math.round(options.target.left / grid) * grid,
                top: Math.round(options.target.top / grid) * grid
            });
            });

        </script>
    </body>
</html>