<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="../statics/js/two.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.7.1/css-doodle.min.js"></script>
        <script src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js"></script>


        <title>The main pad</title>
        <link rel="stylesheet" href="../statics/css/mainWindow.css">

    </head>
    <body>
            <div class="alert alert-primary" role="alert">
                    <h1>The Proteun <img src="../statics/images/resistor.png" style="width: 50px; height: 50px;"></h1>
                  </div>

        <div class="container">
            
            <div class="row">    
                <div class="col-md-3">
                    <div class="row">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page">Tools Pane</li>
                                </ol>
                            </nav>
                        
                        <div >
                            
                                <button type="button" class="btn btn-light add-element-btn" id="wire">
                                        <img src="../statics/images/wire.png" class="element-btn">
                                </button>
                            
                                <p class="description">Wire</p>
                            
                                <button type="button" class="btn btn-light add-element-btn" id="resistor">
                                        <img src="../statics/images/resistor.png" class="element-btn">
                                </button>
                            
                                <p class="description">Resistor</p>
                            
                            
                                    <button type="button" class="btn btn-light add-element-btn" id="currentSource">
                                            <img src="../statics/images/currentSource.png" class="element-btn">
                                    </button>
                                
                                <p class="description">Current Source</p>
                            
                           
                                    <button type="button" class="btn btn-light add-element-btn" id="voltageSource">
                                            <img src="../statics/images/voltageSource.png" class="element-btn">
                                    </button>
                                
                                <p class="description">Voltage Source</p>
                            
                           
                                    <button type="button" class="btn btn-light add-element-btn" id="currentSourceControlled">
                                            <img src="../statics/images/currentSourceControlled.png" class="element-btn">
                                    </button>
                                
                                <p class="description">Current Source Controlled</p>
                            
                            
                                    <button type="button" class="btn btn-light add-element-btn" id="voltageSourceControlled">
                                            <img src="../statics/images/voltageSourceControlled.png" class="element-btn">
                                    </button>
                                
                                <p class="description">Voltage Source Controlled</p>

                                <button type="button" class="btn btn-light add-element-btn" id="ground">
                                        <img src="../statics/images/ground.png" class="element-btn">
                                </button>
                            
                            <p class="description">Ground</p>
                          
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    

                    
                    <div class="row">
                            <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">The Play Ground</li>
                                    </ol>
                                </nav>
                        
                    </div>
                    <div class="row">
                    
                        <canvas id="c" width="400" height="400"></canvas>
                        
                    </div>
                
                </div>
            </div>

        </div>
        
        <script>

        const electron = require('electron');
        const {ipcRenderer} = electron;

        var elements = [];
        var canvas = new fabric.Canvas('c', { selection: false });
        var grid = 100;

        $(document).ready(function() {
            $(".add-element-btn").click(function(event) {
                console.log(event);
                ipcRenderer.send('item:new', event.target.id || event.target.parentElement.id);
            });
        });



        ipcRenderer.on('board:update', function(e, elements){
            console.log('in board:update');
            updateCanvas(elements);
        });
            
        function calculateCord(firstPin, secondPin) {
            let top, left, angle;
            const START_TOP = 100; 
            const START_LEFT = 100;
            const DIST = 100;
            
            if (firstPin === undefined) {
                throw Error('undefined Pins');
            }
            if (firstPin.row === undefined &&
                firstPin.col === undefined ) {
                throw Error('undefined Pins');
            }
            let row = firstPin.row;
            let col = firstPin.col;
            if (secondPin.row === undefined && secondPin.col === undefined) {
                angle = 0;
                top = (row + Math.trunc(START_TOP / DIST)) * DIST ;
                left = (col + Math.trunc(START_LEFT / DIST)) * DIST - Math.trunc(DIST / 2);
                return {
                    top, 
                    left, 
                    angle
                };
            }
            if (firstPin.col == secondPin.col) {
                if (firstPin.row < secondPin.row) {
                    angle = 90;
                    top = (row + Math.trunc(START_TOP / DIST)) * DIST ;
                    left = (col + Math.trunc(START_LEFT / DIST)) * DIST + Math.trunc(DIST / 2);
                } else if (firstPin.row > secondPin.row){
                    angle = 270;
                    top = (row + Math.trunc(START_TOP / DIST)) * DIST;
                    left = (col + Math.trunc(START_LEFT / DIST)) * DIST - Math.trunc(DIST / 2);
                }
                
            } else if(firstPin.row == secondPin.row) {
                if (firstPin.col < secondPin.col) {
                    angle = 0;
                    top = (row + Math.trunc(START_TOP / DIST)) * DIST - Math.trunc(DIST / 2);
                    left = (col + Math.trunc(START_LEFT / DIST)) * DIST;
                } else if (firstPin.col > secondPin.col) {
                    angle = 180;
                    top = (row + Math.trunc(START_TOP / DIST)) * DIST + Math.trunc(DIST / 2);
                    left = (col + Math.trunc(START_LEFT / DIST)) * DIST;
                }
                
            } else {
                throw Error('Coordinate Error');
            }
            console.log('in calculate');
            console.log( top, left, angle);
            return {
                top, 
                left, 
                angle
            };
            
        }
        function updateCanvas(elements) {
            const IMAGE_HEIGHT = 100;
            for (let idx in elements) {
                let element = elements[idx];

                console.log(elements);
                console.log(element);
                // if (element.type != 'resistor') {
                    fabric.Image.fromURL('../statics/images/' + element.type + '.png', function(myImg) {
                        let scale = IMAGE_HEIGHT / myImg.height;
                        let {top, left, angle} = calculateCord(element.firstPin, element.secondPin);
                        console.log('top left angle');
                        console.log(top, left, angle);
                        var img1 = myImg.set({ 
                            left, 
                            top,
                            angle,
                            scaleY: scale, 
                            scaleX: scale,
                            selection: false
                        });
                        canvas.add(img1);
                        canvas.renderAll();
                    });
                    
                // }
            }
        }
            
            // var offset = 33.33;
            // create grid

            for (var i = 1; i < (canvas.width / grid); i++) {
                for (var j = 1; j < (canvas.height / grid); j++) {
                    console.log(i*grid, j*grid);
                    canvas.add(new fabric.Circle({
                        left: i*grid - 7, 
                        top: j*grid - 7, 
                        radius: 7, 
                        fill: '#000', 
                        originX: 'left', 
                        originY: 'top',
                        centeredRotation: true,
                        selectable: false,
                        opacity: 1
                    }));
                }
            }

            
            // var imgInstance = new fabric.Image(imgElement, {
            //     width: 100,
            //     height: 100,
            //     left: 100,
            //     top: 100,
            //     angle: 0,
            //     opacity: 1,
            // });
            // canvas.add(imgInstance);

            // canvas.add(new fabric.Rect({ 
            // left: 10, 
            // top: 10, 
            // width: 20, 
            // height: 100, 
            // fill: '#faa', 
            // originX: 'left', 
            // originY: 'top',
            // hasRotatingPoint: false,
            // hasControls: false
            // }));
            // canvas.add(new fabric.Rect({ 
            // left: 10, 
            // top: 10, 
            // width: 100, 
            // height: 20, 
            // fill: '#faa', 
            // originX: 'left', 
            // originY: 'top',
            // hasRotatingPoint: false,
            // hasControls: false
            // }));

           

            

            // canvas.on('object:moving', function(options) { 
            // options.target.set({
            //     left: Math.round(options.target.left / grid) * grid,
            //     top: Math.round(options.target.top / grid) * grid
            // });
            // });

        </script>
    </body>
</html>