<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="../statics/js/two.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.7.1/css-doodle.min.js"></script>
        <script src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js"></script>


        <title>The main pad</title>
        <link rel="stylesheet" href="../statics/css/mainWindow.css">

    </head>
    <body>
            <div class="alert alert-primary" role="alert">
                    <h1>The Proteun</h1>
                  </div>

        <div class="container">
            
            <div class="row">    
                <div class="col-md-3">
                    <div class="row">
                        <p>Tools Pane</p>
                    </div>
                </div>
                <div class="col-md-9">
                    

                    
                    <div class="row">
                        <p>The Play Ground</p>
                    </div>
                    <div class="row">
                        <canvas id="c" width="310" height="310"></canvas>
                    </div>
                
                </div>
            </div>

        </div>
        
        <script>
            var canvas = new fabric.Canvas('c', { selection: false });
            var grid = 100;
            // var offset = 33.33;
            // create grid

            for (var i = 0; i <= (canvas.width / grid); i++) {
                for (var j = 0; j <= (canvas.height / grid); j++) {
                    console.log(i*grid, j*grid);
                    canvas.add(new fabric.Circle({
                        left: i*grid, 
                        top: j*grid, 
                        radius: 5, 
                        fill: '#000', 
                        originX: 'left', 
                        originY: 'top',
                        centeredRotation: true,
                        selectable: false
                    }));
                }
            }

            // add objects

            canvas.add(new fabric.Rect({ 
            left: 10, 
            top: 10, 
            width: 20, 
            height: 100, 
            fill: '#faa', 
            originX: 'left', 
            originY: 'top',
            hasRotatingPoint: false,
            hasControls: false
            }));
            canvas.add(new fabric.Rect({ 
            left: 10, 
            top: 10, 
            width: 100, 
            height: 20, 
            fill: '#faa', 
            originX: 'left', 
            originY: 'top',
            hasRotatingPoint: false,
            hasControls: false
            }));

            // canvas.add(new fabric.Circle({ 
            // left: 30, 
            // top: 30, 
            // radius: 50, 
            // fill: '#9f9', 
            // originX: 'left', 
            // originY: 'top',
            // centeredRotation: true
            // }));

            // snap to grid

            // canvas.on('object:rotating', function(options) {
            //     var step = 4;
            //     options.target.angle = Math.round(options.target.angle / step) * step;
            // });

            canvas.on('object:moving', function(options) { 
            options.target.set({
                left: Math.round(options.target.left / grid) * grid,
                top: Math.round(options.target.top / grid) * grid
            });
            });

        </script>
    </body>
</html>